* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow: hidden;
}

/* Navbar */

#react-icon {
  width: 30px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 90px;
  padding: 2rem 1.75rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.dark {
  background: #21222a;
}

.nav--logo_text,
.nave--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--icon {
  margin-right: 0.5rem;
  height: 30px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 30px;
  height: 15px;
  background: #2b283a;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #f5f5f5;
}

.toggler--slider--circle {
  width: 13px;
  height: 13px;
  background: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2b283a;
}

nav.dark .toggler--dark {
  color: #ffffff;
}
.toggler--dark {
  color: #d5d4d8;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}

/* Main */

main {
  background-color: #ffffff;
  background-image: url("./reactjs-icon\ 2.png");
  background-repeat: no-repeat;

  background-position: right 48%;
  height: 100vh;
  overflow: hidden;
  color: #2b283a;
  padding: 57px 27px;
}

main.dark {
  background-color: #282d35;
  color: white;
}

.main--title {
  margin: 0;

  font-size: 39px;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.main--list {
  max-width: 400px;
  margin-top: 46px;
}

.main--list-item {
  padding-block: 10px;
  line-height: 19px;
}

.main--list-item::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
