* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow: hidden;
}

/* Navbar */

#react-icon {
  width: 30px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 2rem 1.75rem;
}

.nav--logo_text,
.nave--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--icon {
  margin-right: 0.5rem;
  height: 30px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

/* Main */

main {
  background-color: #282d35;
  background-image: url("./reactjs-icon\ 2.png");
  background-repeat: no-repeat;

  background-position: right 48%;
  height: 100vh;
  overflow: hidden;
  color: #ffffff;
  padding: 57px 27px;
}

.main--title {
  margin: 0;

  font-size: 39px;
  font-weight: bold;
  letter-spacing: -0.05em;
}

.main--list {
  max-width: 400px;
  margin-top: 46px;
}

.main--list-item {
  padding-block: 10px;
  line-height: 19px;
}

.main--list-item::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
